body {
 	min-width: 300px; /* your desired width */
	max-width: 100%;
	position: relative;
	vertical-align:middle;
}
img {
	display: block;
	margin: auto;
}
h1 {
    font-size: 100px;
    text-align: center;
    -webkit-margin-before: 64px;
    -webkit-margin-after: 64px;
    font-family: sans-serif;
}
button {
	font-size: 14px;
}
div {
	font-family: sans-serif;
}
.wrapper {
	text-align: center;
	padding: 10px 50px;
	text-decoration: none;
}
.num {
	font-size: 20px;
	text-align: center;
	margin: 40px;
}
/* https://www.bestcssbuttongenerator.com/ */
.bigButton {
	background-color:#45c797;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #19a1ab;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2d824f;
	outline: none;
}
.bigButton:active {
	position:relative;
	top:1px;
}
#resistButton:hover {
	/* 00FF00 5cbf2a*/
	background-color:#00FF00;
}
#giveInButton:hover {
	background-color:#ed4815;
}
.littleButton {
	font-size: 15px;
	cursor: pointer;
	font-weight: bold;
	/*background-color:#45c797;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #19a1ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2d824f;
	position:relative;
	top:1px;*/
}
a {
	color: #45c797;
}
.inTrouble {
	color: #ed4815;
}
#clear {
	font-size: 20px;
}
/* https://codepen.io/imprakash/pen/GgNMXO */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.bigspace {
	margin-bottom: 60px;
}